NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCfgE3QkbaBoMZCBmU_twXH2lQu192bJH0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=digital-label-8620b.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=digital-label-8620b
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=digital-label-8620b.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=342078286952
NEXT_PUBLIC_FIREBASE_APP_ID=1:342078286952:web:c125a1ae12edac51029fdd
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-QHGBZ7RD29
