# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
out/
build/

# production
dist/

# misc
.DS_Store
*.pem
*.log
.gemini/
.antigravity/

# local env files
.env*.local
.env
.env.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# OS files
Thumbs.db
Desktop.ini
